asgiref==3.8.1
dj-database-url==2.2.0
Django==5.1.1
django-allauth==65.0.2
django-countries==7.6.1
django-crispy-forms==2.3
django-extensions==3.2.3
django-storages==1.14.4
graphviz==0.20.3
pillow==10.4.0
pydot==3.0.2
pyparsing==3.1.4
sqlparse==0.5.1
stripe==11.1.0
