html {
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-btn {
    border: 1px solid #fff;
}

.logo-img {
    width: 125px;
    height: auto;
}

.btn-search {
    background: #222;
    color: #fff;
}

.btn-search:hover,
.btn-search:active,
.btn-search:focus {
    background: #fff;
    color: #222;
}

.text-black {
    color: #222 !important;
}

.border-black {
    border: 1px solid #222 !important;
}

.bg-black {
    background: #222 !important;
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #fff;
    color: #222!important;
}

#hero-img{
    background: url('/media/hero-img.png') no-repeat fixed;
    background-position: center 90px;
    background-size: cover;
    height: calc(90vh - 225px);
}

.hero-text-padding {
    padding-top: 16rem;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 225px;
    }

}

@media (max-width: 991px) {
    #hero-img{
        height: calc(115vh - 225px);
    }
}

@media (max-width: 322px) {
    .list-inline-item {
        margin-right: 0px!important;
    }
}
