<!-- Contains Code Institute Provided Code -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 text-uppercase" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 text-uppercase" href="#" id="categories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="categories-link">
                <a href="{% url 'products' %}?category=t-shirts" class="dropdown-item">T-shirts</a>
                <a href="{% url 'products' %}?category=hoodies" class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'products' %}?category=jackets" class="dropdown-item">Jackets</a>
                <a href="{% url 'products' %}?category=t-shirts,hoodies,shirts,jackets" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 text-uppercase" href="#" id="collection-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="collection-link">
                <a href="{% url 'products' %}?collection=classics" class="dropdown-item">Classic</a>
                <a href="{% url 'products' %}?collection=guilty-scientist" class="dropdown-item">Guilty Scientist</a>
                <a href="{% url 'products' %}?collection=street-spirit" class="dropdown-item">Street Spirit</a>
                <a href="{% url 'products' %}?collection=reclaim" class="dropdown-item">Reclaim</a>
                <a href="{% url 'products' %}?collection=guilty-monsters" class="dropdown-item">Guilty Monsters</a>
                <a href="{% url 'products' %}?collection=classics,guilty-scientist,reclaim,guilty-monsters,strit-spirit" class="dropdown-item">All Collections</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 text-uppercase" href="#" id="artist-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artists
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="artist-link">
                <a href="{% url 'products' %}?artist=sergios" class="dropdown-item">Sergios</a>
                <a href="{% url 'products' %}?artist=dave" class="dropdown-item">Dave</a>
                <a href="{% url 'products' %}?artist=anna" class="dropdown-item">Anna</a>
                <a href="{% url 'products' %}?artist=sergios,dave,anna" class="dropdown-item">All Artists</a>
            </div>
        </li>
    </ul>
</div>