{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="bg-styled p-4">
    <div class="container-fluid bg-white rounded-lg p-4">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">
                        <div class="container-fluid px-0">
                            <div class="row">
                                <div class="col-4 pr-0">{{ product.name }}</div>
                                <div class="col-6 px-0">
                                    <a href="{% url 'add_to_wishlist' product.id %}" 
                                        class="text-black wishlist-btn" title="Add to wishlist">
                                    <i class="fas fa-heart fa-lg
                                        {% for entry in wishlist %}
                                            {% if entry.item_id == product.id|stringformat:'s' %}
                                                text-red 
                                            {% endif %}
                                        {% endfor %}"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.collection %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?collection={{ product.collection.name }}">
                            <i class="fas fa-layer-group mr-1"></i>{{ product.collection.friendly_name }}
                        </a>
                    </p>
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?artist={{ product.collection.artist }}">
                            <i class="fas fa-user mr-1"></i>{{ product.collection.artist|capfirst }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                    <small class="ml-3">
                        <p><a href="{% url 'add_review' product.id %}">Add a review</a></p>
                    </small>
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.sizes as s %}
                            {% if s %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded w-50" name="product_size" id='id_product_size'>
                                        <option value="xs">{{ s.0 }}</option>
                                        <option value="s">{{ s.1 }}</option>
                                        <option value="m" selected>{{ s.2 }}</option>
                                        <option value="l">{{ s.3 }}</option>
                                        <option value="xl">{{ s.4 }}</option>
                                    </select>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn bg-black text-white rounded" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn bg-black text-white rounded"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mt-2">
                                <a href="{% url 'products' %}" class="btn border-black rounded mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn border-black bg-black text-white rounded text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="col-12 col-md-8 offset-md-2 mb-5">
                <h3>Product Reviews</h3>
                {% if reviews %}
                <table class="table table-responsive">
                    <thead>
                      <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Rating</th>
                        <th scope="col">User</th>
                        <th scope="col">Date</th>
                        <th  class="d-none d-sm-block" scope="col">Review</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                    
                        {% for review in reviews %}
                        <tr>
                            <th scope="row">{{ review.fields.review_title }}</th>
                            <td><small>{{ review.fields.rating }} / 5</small></td>
                            <td>{{ review.fields.user }}</td>
                            <td>{{ review.fields.review_date }}</td>
                            <td class="d-none d-sm-block">{{ review.fields.review_body }}</td>
                            {% if request.user.username == review.fields.user or request.user.is_superuser %}
                            <td>
                                <p><a class="btn btn-sm bg-black text-white rounded text-center review-btn" href="{% url 'edit_review' review.pk %}">Edit</a></p>   
                            </td>
                            <td>
                                <p><a class="btn btn-sm btn-danger rounded review-btn" href="{% url 'delete_review' review.pk %}">Delete</a></p>
                            </td>
                            {% endif %}
                        <tr>
                        {% endfor %}
                    </tbody>
                  </table>
                  {% else %}
                  <p>No reviews yet!</p>
                  {% endif %}
            </div>
        </div>
    </div>
    <hr/>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    $(".wishlist-btn").on('click', function(e) {
        //e.preventDefault();
        $(this).toggleClass("text-red");
    });

</script>
{% endblock %}